.chessboard {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  width: 400px;
  height: 400px;
  transform: rotate(0deg);
}

.piece.white {
  color: white;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

.piece.black {
  color: black;
}

.flipped {
  transform: rotate(180deg);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.light {
  background-color: #f0d9b5;
}

.square.dark {
  background-color: #b58863;
}

.piece {
  font-size: 36px;
  cursor: pointer;
  font-weight: bold;
}

.piece.draggable {
  cursor: grab;
}

.dragging {
  opacity: 0.5;
}

/* Rotate pieces for black player */
.flipped .piece {
  transform: rotate(180deg);
}

.trayflipped {
  transform: rotateX(180deg);
}

.chat {
  background-color: #b58863;
  padding: 0.5rem;
  border-bottom: 2px solid white;
}

#message-box > :first-child {
  margin-top: auto !important;
}

#message-box::-webkit-scrollbar {
  width: 8px;
}

#message-box::-webkit-scrollbar-track {
  background: #b58863;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

#message-box::-webkit-scrollbar-thumb {
  background: #f0d9b5;
  border: 2px solid white;
}

#message-box::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
